
body{
	margin-top: 90px;

	position: relative;
	background: url('../img/mountains.jpeg');
	background-repeat: no-repeat;
	min-height: 600px;

	

	.card{
		width: 85%;
		margin: auto;
		opacity: 0.8;
	}

}