$bg-color: #F4F6F6;

body{
  .container{
    background: $bg-color;
  }
    a{
      color: #17A589;
    }
  }

  #childhood-vaccine{
  	width: 900px;
  	height: auto;
  }

  #early-life{
	width: 450px;
	height: auto;
}